/**
 * @name AmoledDarkThemeOptimized
 * @author TomRdh
 * @version 0.0.6
 * @description This version of AMOLED dark theme makes all backgrounds to black instead of matching Android colors.
 * @website https://tomrdh.github.io/da-website/main
 * @source https://github.com/Tomrdh/discord-addons/blob/master/download-themes-here/AmoledDarkThemeOptimized
 * @invite v7ECsqT
 * @authorId 703638166162112516
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/ADT_Core.css);
@import url(https://discord-addons.github.io/discord-addons/xcores/themes/ADTO_QuickConfig.css);

:root { /* Settings */
    /* Compatibility Settings */
    --xenolib-background-color: #000000 ;/* Default: #000000 - Background color for the XenoLib notifications if you have the plugin. You can use HEX, RGB or anything you want as long as it's a color (no image or filter). */

    /* Update Settings */
    --version006_adto: none; /* Do not touch to this, or you'll see a notice that says your theme is broken. */
}
